:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #fec000;
  --second-color: #000;
  --second-color-light: #66656b;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.body {
  position: relative;
  margin: calc(var(--header-height) + 1rem) 0 1rem 0 !important;
  padding: 0 0.5rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--second-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header_img {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  overflow: hidden;
}

.header_img img {
  width: 33px;
}

.header_user {
  width: auto;
  height: 35px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid var(--first-color);
  border-radius: 50px;
}

.header_user a.nav-link {
  padding-top: 0.4rem;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
  padding: 0.5rem 0 0.5rem 1rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--second-color);
}

.nav_logo-name {
  color: var(--second-color);
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: var(--second-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--second-color);
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
  margin-right: -70px !important;
}

.header-pd {
  padding-left: calc(var(--nav-width) + 1rem);
  margin-right: -70px !important;
}

.active {
  color: var(--second-color);
}

.nav_link.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--second-color);
}

.height-100 {
  height: initial;
}

.contain-bg {
  border-radius: 20px;
  padding-bottom: 1px;
}

.header {
  text-align: center;
}

.break {
  word-break: unset;
}

.underline:after {
  content: "";
  height: 2px;
  width: 96%;
  display: block;
  text-align: center;
  transform: translate(2%, 0%);
  background-color: var(--second-color);
  border: 2px solid var(--second-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.header_user div.dropdown-menu {
  margin-top: -0.7rem !important;
  left: 0.5rem !important;
}

.header_user div.dropdown-menu.show {
  width: auto;
}

@media screen and (min-width: 768px) {
  .body {
    margin: calc(var(--header-height) + 2.5rem) 0.5rem 1rem 2.5rem !important;
    padding-left: 2.7rem;
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 38px;
    height: 38px;
  }

  .header_img img {
    width: 38px;
  }

  .header_user {
    width: auto;
    height: 40px;
  }

  .header_user a.nav-link {
    padding-top: 0.5rem;
  }

  .header_user div.dropdown-menu {
    margin-top: -1rem !important;
    left: 1rem !important;
  }

  .header_user div.dropdown-menu.show {
    width: auto;
  }

  div.header_user.show {
    width: auto;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 93px);
  }

  .header-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }

  .contain-bg {
    border-radius: 20px;
    display: flex;
    padding-bottom: 0;
  }

  .header {
    text-align: right;
  }

  .break {
    word-break: break-word;
  }
}
