code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

.v-middle {
  vertical-align: middle;
}

.v-top {
  vertical-align: text-top;
}

.theme-color {
  color: #fec000;
}

.theme-color-background {
  background-color: #fec000;
}
.rounded {
  border-radius: 50px !important;
}

.rounded-semi {
  border-radius: 25px !important;
}

.rounded-box {
  border-radius: 15px !important;
}

.left-rounded {
  border-radius: 50px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.right-rounded {
  border-radius: 50px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.top-rounded-semi {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

.page-link {
  border-radius: 50px !important;
  margin-right: 1px !important;
  margin-left: 2px !important;
  padding: 0.5rem 0.85rem !important;
}

.outer {
  overflow-x: auto;
}

.inner {
  flex: 0 0 25%;
}

.transparent-div {
  background-color: white;
  border-radius: 50px;
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
}

.parent-container {
  margin: 20px;
}

.child-content {
  margin: 15px;
}

.image-preview {
  max-width: 100%;
  height: auto;
}
.vertical-scroll {
  overflow-y: auto;
}

.display-max {
  width: 100%;
  display: table-cell !important;
}

.__react_component_tooltip {
  max-width: 69px !important;
  border-radius: 50px !important;
  display: flex !important;
  justify-content: center !important;
}

.Toastify__toast-container {
  width: 360px !important;
}

.Toastify__close-button {
  color: #000 !important;
}

.placeholder {
  border: 1px solid #ced4da;
  border-radius: 0 !important;
}

.placeholder-body {
  flex: 0 !important;
  padding: 0 !important;
}

.frame {
  height: 200px;
  width: 200px;
  position: relative;
  border: 1px solid #ced4da;
  border-radius: 0 !important;
  text-align: center;
  margin: -1px;
}

.frame img {
  max-width: 200px;
  max-height: 200px;
  vertical-align: middle;
  margin: -2px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.alternative {
  position: absolute;
  width: 100%;
  height: 250px;
}

.histocache-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 250px;
}

textarea.form-control {
  height: 100% !important;
}

.map-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  left: -60px;
  display: grid;
  bottom: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fec000;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 9px;
  cursor: default;
}

.map-tick {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: #fec000;
  box-shadow: 0 0 0 1px black;
}

.map-box:hover {
  background-color: #000000;
  color: #fec000;
  border: 2px solid #000;
  z-index: 10;
}

.map-box.active {
  background-color: #000000;
  color: #fec000;
  border: 2px solid #000;
  z-index: 10;
}

.map-tick.active {
  z-index: 10;
  background-color: #000;
}

.map-tick:hover {
  z-index: 10;
  background-color: #000;
}

.outline.btn:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 600px) {
  .navbar-text {
    text-align: center !important;
  }
}
